<div>
    <h1>Create New Blog
        <section>
            <h2>Enter Title here:</h2>
            <input />
            <h2>Content</h2>
            <textarea>Enter content here</textarea>
            <div id="blog-buttons" class="row">
                <button type="submit">Submit</button>
                <button id="cancel-blog" class="col btn btn-danger m-3">Cancel</button>
            </div>
        </section>
    </h1>
</div>