<P>
<h1>My Blogs</h1>
</P>
<div id="prof-container" class="container h-100 bg-light align-items-center rounded">
    <div class="row">
        <div class="col">
            {{#each blogdata}}
            <div class="blog-card">
                <div class=" form-floating ">
                    {{!-- {{blogdata}} --}}
                    <B> {{title}}</B>
                    <P> {{contents}}</P>
                    {{/each}}
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

<div id='profile-buttons' class="row" hidden>
    <button type="submit" class="col btn btn-success m-3">Apply</button>
    <button id="cancel-profile" class='col btn btn-danger m-3'>Cancel</button>