<head><title>Search for Alumni</title></head>
    <header>
      <h1>Search by Name</h1>
    </header>
    <div class="outerContainer">
      <div class="container">
        <div class="left">
          <h2>
            Enter Alumni Name:
          </h2>
          <div class="row">
            <form id="search-form">
              <input
                class="col-7"
                id="search-Ninput"
                type="text"
                width=500px
                placeholder="Enter Alumni Name"
              />
             <button id="searchNBtn"
             >
                Search 
             </button>
            </form>
          </div>
          </div>
      </div>
    </div>
      <header>
      <script src="./js/search.js">
      </script>        